@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
}

@keyframes particle {
  0% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(var(--x), var(--y)) scale(0.5);
  }
}

.particle {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: yellow;
  border-radius: 50%;
  animation: particle 0.6s forwards;
}

.animate-pop {
  position: relative;
  display: inline-block;
  animation: pop 0.3s ease-in-out;
}
